
h2{
	text-align: center;
	color: black;
	font-family: Arial;	
}
.para2{
	text-align: center;
	color: black;
	font-size: 18px;
}
.form{
	width: 500px;
	height: 800px;
	background-color: black;
	background-color: rgba(0, 0, 0, 0.2);
	margin-top: 10px;
	margin-left: auto;
	margin-right: auto;
	color: black;

}
form{
	padding-top: 10px;
	padding-left: 20px; 
}
input{
	margin-top: 5px;
	height: 30px;
	background-color: transparent;
	border: 1px solid black;
	padding: 7px;
	color: black;
	font-size: 15px;
	margin-right: auto;
	margin-left: auto;
}
button{
	width: 50%;
	height: 30px;
	margin-top: 20px;
	border: 2px solid black;
	cursor: pointer;
	font-weight: 200;
	color: black;
	background-color: transparent;
}
input:focus {
	outline: none;
}
input::placeholder {
	color: black;
}
h1{
	text-align: center
}